.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: var(--second-background);
    overflow-x: auto; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: all 0.5s ease;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: var(--category-size);
    color: var(--text-color);
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: var(--text-color);
    cursor: pointer;
}

.closebtn:hover {
    color: var(--submain-color);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

.todooscuro {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    overflow-y: hidden;
}

.mostrarBG {
    display: block;
}

@media screen and (min-width: 650px) {
    .links {
        display: none;
    }

    hr {
        display: none;
    }
}
