<div class="contenido_del_footer">
    <section class="layout-footer">
        <div class="p1-description">
            <h3 class="titulo-footer">Description</h3>
            <p>
                With an intuitive and friendly interface, you can explore our extensive catalog and discover new titles
                that suit your tastes and preferences. Our site uses a trusted API (Kitsu) to provide you with
                up-to-date and detailed information about each anime, including synopsis, ratings, cast, and more.
            </p>
        </div>

        <div class="p2-paginas">
            <h3 class="titulo-footer">Pages</h3>
            <div class="lista-paginas">
                <div>
                    <a routerLink="/">Home</a>
                    <hr />
                </div>

                <div>
                    <a routerLink="search">Search</a>
                    <hr />
                </div>

                <div>
                    <a routerLink="team">Team</a>
                    <hr />
                </div>

                <div>
                    <a routerLink="tools">Tools</a>
                </div>
            </div>
        </div>

        <div class="p3-creadores">
            <h3 class="titulo-footer">Information provided by:</h3>

            <div class="kitsu">
                <img class="kitsuimg" src="../../../../assets/kitsu_logo.webp" alt="" />

                <ul>
                    <li>
                        <span>Web: https://kitsu.io/explore/anime </span>
                    </li>
                    <li>
                        <span>API: https://kitsu.docs.apiary.io/ </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<div class="barra">
    <div class="contenidoBarra">
        <h2>Repository: https://github.com/erandreex/ukianime</h2>
    </div>
</div>
