@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');


.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.titulo {
    font-family: 'Shojumaru', cursive;
    text-shadow: 2px 2px #222020;
    font-size: 2rem;
    letter-spacing: 0.01em;
    color: var(--first-color);
}

.logo-img {
  height: 1.5rem;
}


@media screen and (min-width: 500px) {

    .titulo {
        font-size: 2rem;
        text-shadow: 2px 2px #222020;

    }

    .logo-img {
      height: 2rem;
    }
}
