h1 {
    color: var(--text-color);
}

.tools {
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
}

.tools-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    margin-bottom: 15px;
}

.tool-card1 {
    width: 100%;
}

h2,
span,
p {
    margin: 0;
    padding: 0;

    font-size: var(--category-size);
    color: var(--text-color);
}

span {
    font-size: var(--name-size);
}

p {
    font-size: var(--text-size);
}

.tool-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid var(--theme-color-border);
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
    padding: 10px;
    width: 100%;

    -webkit-box-shadow: 2px 6px 19px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 6px 19px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 6px 19px -3px rgba(0, 0, 0, 0.3);
}

.header-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.description-card {
    padding: 10px;
}

img {
    width: 80px;
    height: 80px;
}

@media screen and (min-width: 650px) {
    .tool-card1 {
        width: calc(95% / 2);
    }
}

@media screen and (min-width: 1100px) {
    .tool-card1 {
        width: calc(95% / 3);
    }
}
