<app-carrousel [animes]="trendings" [title]="'Trends'" [error]="error1"></app-carrousel>
<app-carrousel [animes]="action" [title]="'Action'" [error]="error2"></app-carrousel>
<app-carrousel [animes]="vampire" [title]="'Vampire'" [error]="error3"></app-carrousel>
<app-carrousel [animes]="adventure" [title]="'Adventure'" [error]="error4"></app-carrousel>
<app-carrousel [animes]="mistery" [title]="'Mistery'" [error]="error5"></app-carrousel>
<app-carrousel [animes]="supernatural" [title]="'Supernatural'" [error]="error6"></app-carrousel>
<app-carrousel [animes]="drama" [title]="'Drama'" [error]="error7"></app-carrousel>
